target/
*.class
.mvn/
mvnw
mvnw.cmd
.settings/
.project
.classpath
.factorypath
.idea/
*.iml
*.log
.env
.DS_Store
# Opcional: si quieres ocultar el archivo de propiedades por completo
# src/main/resources/application.properties
