target/
*.class
.mvn/
mvnw
mvnw.cmd
.settings/
.project
.classpath
.factorypath
.idea/
*.iml
*.log
.env
.DS_Store
# Archivos de configuración y variables de entorno
src/main/resources/application.properties
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
